<div class="list-form">

  <div class="list-header">
    <h2><%= t('list.edit') %></h2>
  </div>

  <div class="list-block">
    <%= render 'form', list: @list %>
    <%= link_to t('list.back'), root_path %>
  </div>
  
</div>