<div class="list-form">

  <div class="list-header">
    <h2><%= t('list.new_list') %></h2>
  </div>

  <div class="list-block">
    <%= render 'form', list: @list, button_text: t('list.new_list') %>
    <%= link_to t('list.back'), root_path %>
  </div>

</div>