<div id="footer">
    <div class="row">
      <div class="col-xs-6">
        &nbsp;&nbsp;<%= image_tag("logo.png", size: "70x25", alt: "Logo") %> 
      </div>
      <div class="col-xs-5 text-right sm-text-left">
      </div>
      <div class="col-xs-1 text-right sm-text-left">
        <p class="margin-b-0"><strong>&#9850; 2018 <%= I18n.locale %></strong></p>
      </div>
    </div>
</div>
